{% extends "base.html" %}

{% block main_content %}

    <h1> Books </h1>

    <table>
        <caption><h2>{{ caption }}</h2> </caption>

            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Author</th>
                <th>Description</th>
                <th>Add to Cart</th>
                <th>Remove from cart</th>
            </tr>
        {% for book in books %}
            <tr>
                <td><img src="{{ url_for('static', filename=book.photo) }}" /></td>
                <td>{{ book["name"] }}</td> 
                <td>{{ book["author"] }}</td>
                <td> <a href="{{ url_for('book', book_id = book['book_id']) }}"> See details</a> </td>
                <td><a href="{{ url_for('add_to_cart', book_id=book['book_id']) }}" > Add to cart </a></td>     
                <td><a href="{{ url_for('remove_from_cart', book_id=book['book_id']) }}" > Remove from cart</a></td>       
            </tr>
            {% endfor %}


    </table>


    <p>
        To add a book to your cart or to see further details, please press "See Details"
    </p>





{% endblock %}