{% extends "base.html" %}

{% block main_content %}

    <form id="first_form" action="" method="POST" novalidate>

        <h1>Change Password</h1>
        <p>
            please fill out your correct cerdentials, so we can change your password
        </p>

        {{ form.hidden_tag() }}
        
        {{ form.user_name.label }}
        {{ form.user_name() }}

        {% for error in form.user_name.errors %}
            {{ error }}
        {% endfor %}


        <br/>
        {{ form.email.label }}
        {{ form.email() }}

        {% for error in form.email.errors %}
            {{ error }}
        {% endfor %}

        <br/>

        {{ form.submit() }}

        <br/>

        {% if user_data %}

            {% for u in user_data %}
                <p>
                    {{ u }}
                </p>
            {% endfor %}

            <br/>

            {{ form.answer.label }}
            {{ form.answer() }}

            
            {% for error in form.answer.errors %}
                {{ error }}
            {% endfor %}
            <br/>

            {{ form.submit() }}

        {% endif %}

        {{ message }}






    </form>

 

    
    





{% endblock %}