{% extends "base.html" %}

{% block main_content %}

    <form id="first_form" action="" method="POST" novalidate>

        <h1> Login ...</h1>

        {{ form.hidden_tag() }}
        {{ form.user_name.label }}
        {{ form.user_name() }}

        {% for error in form.user_name.errors %}
            {{ error }}
        {% endfor %}

        <br/>

        {{ form.password.label }}
        {{ form.password() }}

        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}

        <br/>

        {{ form.submit() }}


    </form>


{% endblock %}