{% extends "base.html" %}

{% block main_content %}

    <h1> Past Orders </h1>

    <table>

            <tr>
                <th>Order ID:</th>
                <th> Name:</th>
                <th>Address:</th>
                <th>Country:</th> 
                <th>Order Total</th>

            </tr>


        {% for order in past_orders %}

        <tr>
            <td>{{ order["order_id"] }}</td>
            <td>{{ order["title"] }} {{ order["name"] }} {{ order["surname"] }}</td>
            <td>{{ order["address"] }}</td>
            <td>{{ order["country"] }}</td>
            <td>{{ order["cart"] }}</td>
        </tr>
        {% endfor %}

    </table>


{% endblock %}